{% extends "main/base.html" %}


{% block title %} 
Smart Chef
{% endblock %} 

{% block content %} 
<h1>Main</h1>

<div>
    <h1>Transform Your Leftovers into Delicious Meals</h1>
    <p>Welcome to our inovative chat-bot!
         It efforlessly suggests delicious recipes1</p>
    <a href="site.html">but</a>
</div>

<div>
    <p>Fresh</p>
    <h2>Unlock the Potential of Your Ingredients</h2>
    <p>Our chat-bot helps you make the most of what you have,
        reducing food waste and saving you maney.
        Discover exciting new recipes tailored to your fridge's contents ane elevate your cooking experience.
    </p>
</div>

<div>
    <h2>FAQs</h2>
    <p>Find answers to your questions about our innovative recipe chat-bot and its features.</p>
    <div class="FAQ">
        <p class="question"></p>
        <p class="answer"></p>
    </div>
</div>

<div>
    <h3>Still have some questions?</h3>
    <p>You can contact us...</p>
</div>

<div class="team">
    <h2>Our Dream Team</h2>
    <p>Passionate individuals dedicated to culinary innovation.</p>
    <div class="person">
        <p class="name"></p>
        <p class="appointment"></p>
        <p class="more details"></p>
    </div>
</div>


{% endblock %} 


